.typographyDrawerLogo {
    color: var(--primary-text-contrast);
    display: flex;
    align-items: center;
    gap: 5px;
}

.typographyDrawerLogoBox {
    margin:15px 0 0 10px;
}

.themeBtn {
    text-transform: none;
    padding: 0 !important;
    display: flex;
    align-items: center;
}

.profileBtn {
    text-transform: none;
    padding: 0 !important;
}

.profileBox {
    display: flex;
    gap: 10px;
}

.appBar {
    width: 375px;
    height: 60px;
    display: flex;
    justify-content: center;
}

.stack {
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.drawerBox {
    width: 225px;
    height: 812px;
    background-color: var(--primary-dark-color);
    display: flex;
    flex-direction: column;
}

.iconBolt {
    background-color: white;
    fill: var(--primary-dark-color);
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
}