:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* display: flex !important;
  flex-direction: column;
  align-items: center; */


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-light-color) !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color-transparent: rgba(, 85, 188, 0.5);
}

a {
  font-weight: 500;
  color: var(--primary-main-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-dark-color);
  cursor: pointer;
}

input, textarea, select, button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  /* place-items: center; */
  justify-content: center;

  min-width: 320px;
  padding: 0 !important;
  min-height: 100vh;
  /* background: linear-gradient(180deg, rgba(196, 196, 196, 0) 25%, #bedbb0 92.19%) !important; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  text-transform: none !important;
}

button:hover {
  border-color: var(--primary-dark-color);
  color: var(--primary-dark-color);
  fill: var(--primary-dark-color);
}
/* button:focus */
/* button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
